@import "base.less";
@import "icons.less";
@import "bootstrap-theme.less";
@import "ms2-theme.less";
@import "variables.less";

#dashboard-editor {
    margin-top: 4rem;
}

.customer-logo {
    padding: 0;
    margin: 0 10px 0 -15px;
}

.rt-nav-item a {
    color: @ms2-color-text;
}

#page-geostory .customer-logo {
    margin-top: -10px;
}

.ms-fork-button {
    display: none;
}

.ms2 .modal-content .modal-header {
    background-color: @gray-light;
    color: @ms2-color-text;
}

.ms2 .btn-default {
    background-color: #444444 !important;
}

#navigationBar-container .btn-primary {
    background-color: #909090;;
    color: #FFF;
    border-color: #777;
}

#navigationBar-container .btn-primary.disabled {
    background-color: #CCC;
    color: #BBB;
}

#map-search-bar .btn {
    color: @text-color;
}